
/************************************************************************************************** NEW iPhone 4 media query */

@media only screen 
    and (device-width:320px) 
    and (device-height:480px) {    
	#MAIN, #MAIN-TRANSITION{
		min-height:460px;
		/* min-height:416px; //this is the height when the bottom bar is blocking some of the screen */
	}
  .sep {
        /*margin-top:2em!important;*/
        margin-top:2.3em!important;
    }

    .sep-text {
        margin-top:2.2em!important;
    }

    .sep-shadow{
        margin-top:2.3em!important;
    }
	
    /*** Ummmm this isnt being triggered...? ***/
    .button.sep {
        margin-top:1.7em!important /* to make up for the fact that buttons are 1.5em*/
    }
    .timetable table {
		font-size: .92em;
    }
}


/* Nexus */

@media only screen and (min-device-width : 360px) and (max-device-width : 598px) {	

}

/****************************************************************************************** iPhone 5 */

@media screen and (device-aspect-ratio: 40/71) {

        /*currently being activated for buttons*/
	.sep {
        margin-top:2.3em!important;
    }
	
    /* seps for the header texts */
    .sep-text {
        margin-top:2.2em!important;
    }
	
    /* currently for subtexts */
    .sep-shadow{
        margin-top:3.3em!important;
    }
	
    /*** Ummmm this isnt being triggered...? ***/
    .button.sep {
        margin-top:1.7em!important /* to make up for the fact that buttons are 1.5em*/
    }
    #description-button {
    	padding:49px;
    }
    .description-text-wrap{
    	padding-left: 112px;
    }
    
}